# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# android build folders (exclude from version control, reduces path length issues)
android/app/build/
android/app/.cxx/
android/build/
android/.gradle/

# ios build folders
ios/build/
ios/Pods/
ios/.xcode.env.local

# metro cache
.metro/

# build logs
*.log
build*.log
